:root {
  --color-bg-body: #f5f5f7;
  --color-surface: #fff;
  --color-surface-muted: #f9fafb;

  --color-border-subtle: #e5e7eb;
  --color-border-strong: #d1d5db;

  --color-text-primary: #111827;

  --color-drop-target-bg: #e5f3ff;
  --color-drop-target-border: #60a5fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg-body);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
}